* {

    box-sizing: border-box;

    --main-font-family: Zen Kaku Gothic New, sans-serif;
    --jpn-font-size: 18px;

    --quick-access-font-size: 0.711em;
    --conjugator-result-font-size: 40px;
    --inspector-font-size: 1.5em;
    --reading-font-size: 0.7em;
    --meaning-font-size: 0.95em;


    --light-bg-color: #fffdfb;
    --light-neutral-color: #fffbe6;
    --dark-neutral-color: #7a5636;
    --mid-neutral-color: #f4ae08;
    --primary-color: #fecc64;
    --secondary-color: #b5d8ff;

    --primary-accent-color: #feb164;
    --secondary-accent-color: #84bcff;

}

html, body {
    font-family: var(--main-font-family), sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.vertical-text {
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* ================ COMPONENTS =============== */

.tile {
    display: inline-block;
    text-align: center;
    border: 0.02em solid rgba(37, 37, 37, 0.2);
    border-radius: 0.3em;
    padding: 0.09em;
    margin: 0.02em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* SEGMENTED CONTROLS */
.segmented-control-tile, .segmented-control-section, .segmented-control-kana {
    display: inline-flex;
    background-color: #fecc64;
    padding: 4px;
    border-radius: 0.5em;
    text-wrap: nowrap;
}

.segment {
        background: transparent;
        border: none;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff9f4;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.2s ease;
    }

.segment.active {
        background-color: #84bcff;
        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.15);
    }

.destinations.active {
        display: inline-block;
    }

.destination-option {
        display: none;
    }

.destination-option.active {
        display: inline-block;
    }

/* PREV NEXT SELECTORS */

.selector {
    display: inline-block;
    padding: 4px;
    border-radius: 0.5em;
}

.options-container {
    display: inline-block;
}

.selectee {
        display: none;
}

.selectee.active {
        display: inline-block;

    }

.selector .btn-next, .btn-prev {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #7a5636;
    font-weight: 800;
    border: 0.12em solid #7a5636;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #7a5636;
        color: #fff;
    }
}

/* NUMBER INPUT & INCREMENTER */
.number-selector {
        display: inline-block;
        margin: 0.4em;
    }

.number-input {
        display: inline-block;
        width: 44px;
        height: 44px;
        border: none;
        border-bottom: 0.21em dashed #84bcff;
    }

.number-selector button {
        display: inline-block;
        width: 44px;
        height: 44px;
        background-color: #fecc64;
        color: #fffbe6;
        font-weight: 800;
        padding: 0.02em 0.09em;
        font-size: 20px;
        border: 1px solid #fecc64;
        border-radius: 5px;
}

.number-selector .destination {
        display: inline-block;
        width: max-content;
        border: 1px solid rgba(0, 0, 0, 0.17);
}

.number-selector .selector-label {
        padding: 0.2em;
        margin: 0.4em;
        text-align: center;
        border-radius: 0.3em;
        background-color: #fecc64;
}

/**/
.cycler {
    display: inline-block;
    border: 1px solid transparent;
    background-color: #fecc64;
    border-radius: 0.5em;
    width: fit-content;
    padding: 0.3em;

}
.cycler:hover {
    background-color: #84bcff;
}
.cycle {
    display: none;
}
.cycle.active {
    display: inline-block;
}

.cycler-component .destination {
    display: inline-block;
}

/* ============== SECTION SPECIFIC COMPONENT STYLING ============ */

@media (max-width: 600px) {



}

@media (min-width: 601px) {

}

/**/