* {

    box-sizing: border-box;

    --main-font-family: Zen Kaku Gothic New, sans-serif;
    --jpn-font-size: 15px;

    --quick-access-font-size: 0.711em;
    --conjugator-result-font-size: 6em;
    --inspector-font-size: 1.5em;
    --reading-font-size: 0.7em;
    --meaning-font-size: 0.95em;

    --kana-result-font-color: #0002d5;
    --ending-result-font-color: #c60000;
}


.dashed-border {
    border: 1px dashed darkgray;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--main-font-family), sans-serif;
}

.nav-bar {

}
.conjugator-container {
    gap: 1rem;
    font-size: 0.7em;

    .conjugator-selectors {
        display: flex;
        flex-direction: row;
        gap: 1.2em;
        font-size: 0.4em;
    }

    .kana-selectors {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

#conjugator__result {
    font-size: var(--conjugator-result-font-size);

    #result__kana {
        color: var(--kana-result-font-color);
    }
    #result__ending {
        color: var(--ending-result-font-color);
    }
}

#inspector {
    flex: 5;
    display: inline-block; }

#inspector__front {
    font-size: var(--inspector-font-size);
}

#inspector__reading {
    font-size: var(--reading-font-size);
}
#inspector__reveal {
    font-size: var(--meaning-font-size);

}

.accordion__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    gap: 3em;
    margin: 0.2em 0.3em;
    padding: 0.2em;
    font-size: 0.7em;
    max-height: max-content;
   /* border: 1px solid hotpink; */
    background-color: rgba(169, 169, 169, 0.11);
}

.accordion__title {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.accordion__title + .accordion__content {
    display: none;
}

.accordion__title.is-open + .accordion__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    gap: 3em;
    margin: 0.2em 0.3em;
    padding: 0.2em;
    font-size: 0.7em;
    max-height: max-content;
    /* border: 1px solid hotpink; */
}


.word-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;

    .word-list__panes {
        border: 1px solid darkgray;
        display: flex;
    }
}

ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
    display: inline-grid;

    li {
        display: inline-block;
        border: 1px solid darkgray;

        a {
            text-decoration: none;
            color: darkgray;
            padding: 0.1em;
            transition: all .3s ease-in-out;
            border-bottom: 1px solid transparent;
            &:hover {
                color: gray;            }
        }
    }
}


.quick-access {
    font-size: var(--quick-access-font-size);
}

.tab.active a {
    color: slateblue;
    border-bottom: 1px solid slateblue;
    &:hover {
        border-color: transparent;
        background: slateblue;
        color: white;
    }
}


.tab-pane {
    display: none;
    animation: fadeEffect 1s;
}

.tab-pane.active {
    display: block;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


.hover-active {
    background-color: rgba(72, 61, 139, 0.36);
}

.tile {
    display: inline-block;
    text-align: center;
    border: 0.02em solid rgba(156, 156, 156, 0.2);
    border-radius: 0.3em;
    width: max-content;
    padding: 0.1em;
    margin: 0.1em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

}


.details-box {
    gap: 5em;

    #notes {
        flex: 6;
        width: 1em;
        height: 5em;
    }

}