* {

    box-sizing: border-box;

    --main-font-family: Zen Kaku Gothic New, sans-serif;
    --jpn-font-size: 18px;

    --quick-access-font-size: 0.711em;
    --conjugator-result-font-size: 40px;
    --inspector-font-size: 1.5em;
    --reading-font-size: 0.7em;
    --meaning-font-size: 0.95em;


    --light-bg-color: #fffdfb;
    --light-neutral-color: #fffbf2;
    --dark-neutral-color: #7a5636;
    --mid-neutral-color: #f4ae08;
    --primary-color: #ffd071;
    --secondary-color: #b5d8ff;

    --primary-accent-color: rgba(255, 183, 111, 0.94);
    --secondary-accent-color: #84bcff;

}

html, body {
    background-color: var(--light-neutral-color);
    font-family: var(--main-font-family), sans-serif;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.vertical-text {
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* ================ COMPONENTS =============== */

.tile {
    display: inline-block;
    text-align: center;
    border: 0.02em solid rgba(37, 37, 37, 0.2);
    border-radius: 0.3em;
    padding: 0.09em;
    margin: 0.02em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* SEGMENTED CONTROLS */
.segmented-control-tile, .segmented-control-section, .segmented-control-kana {
    display: inline-flex;
    background-color: #fecc64;
    padding: 4px;
    border-radius: 0.5em;
    text-wrap: nowrap;
    height: 50px;
}

.segment {
        background: transparent;
        border: none;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff9f4;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.2s ease;
    }

.segment.active {
        background-color: #84bcff;
        box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.15);
    }

.destinations.active {
        display: inline-block;
    }

.destination-option {
        display: none;
    }

.destination-option.active {
        display: inline-block;
    }

/* PREV NEXT SELECTORS */

.selector {
    display: inline-block;
    padding: 4px;
    border-radius: 0.5em;
}

.options-container {
    display: inline-block;
}

.selectee {
        display: none;
}

.selectee.active {
        display: inline-block;

    }

.selector .btn-next, .btn-prev {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #7a5636;
    font-weight: 800;
    border: 0.12em solid #7a5636;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #7a5636;
        color: #fff;
    }
}

/* NUMBER INPUT & INCREMENTER */
.number-selector {
        display: inline-block;
        margin: 0.4em;
    }

.number-input {
        display: inline-block;
        width: 44px;
        height: 44px;
        border: none;
        border-bottom: 0.21em dashed #84bcff;
    }

.number-selector button {
        display: inline-block;
        width: 44px;
        height: 44px;
        background-color: #fecc64;
        color: #fffbe6;
        font-weight: 800;
        padding: 0.02em 0.09em;
        font-size: 20px;
        border: 1px solid #fecc64;
        border-radius: 5px;
}

.number-selector .destination {
        display: inline-block;
        width: max-content;
        border: 1px solid rgba(0, 0, 0, 0.17);
}

.number-selector .selector-label {
        padding: 0.2em;
        margin: 0.4em;
        text-align: center;
        border-radius: 0.3em;
        background-color: #fecc64;
}

/**/
.cycler {
    display: inline-block;
    border: 1px solid transparent;
    background-color: #fecc64;
    border-radius: 0.5em;
    width: fit-content;
    height: 40px;
    padding: 0.3em;
    justify-content: center;
    align-items: center;

}
.cycler:hover {
    background-color: #84bcff;
}
.cycle {
    display: none;
}
.cycle.active {
    display: inline-block;
}

.cycler-component .destination {
    display: inline-block;
}

/**/
.conjugator-container {
    display: flex;
    flex-direction: column;
    margin: 0.8em;
    gap: 0.9em;

    .conjugator-inner-wrapper {
        display: flex;
        gap: 0.3em;

        .segmented-control-kana {
            overflow: scroll;
            max-width: 150px;
        }

        .destination {
            display: flex;
            font-size: 1.42em;
        }
    }
}


#tile-modal {
    z-index: 100;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;

    @media (max-width: 600px) {
        width: 80%;
        height: 35%;
    }

    @media (min-width: 801px) {
        width: 50%;
        height: 40%;
    }
}

#tile-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#tile-modal:focus {
    outline: 6px solid #fecc64;

}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal-title {
    font-size: 50px;

    @media (max-width: 600px) {
        font-size: 40px;
        text-wrap: nowrap;
    }
}


/**/
.mixed-container {
    display: flex;

    @media (max-width: 600px) {
        gap: 0.9em;
    }

    @media (min-width: 801px) {
        gap: 1em;

    }


    .selectee {


        .segmented-control-tile, .segmented-control-section {

            overflow: scroll;

            @media (max-width: 600px) {

                min-height: 44px;
                height: 100%;
                max-height: 44px;

                min-width: 300px;
                width: 100%;
                max-width: 300px;

            }

            @media (min-width: 1000px) {
                min-height: 70px;
                height: 100%;
                max-height: 44px;

                min-width: 300px;
                width: 100%;
                max-width: 300px;


            }

        }

        .mixed-dest-container {
            overflow: scroll;

            @media (max-width: 600px) {

                min-height: 75px;
                height: 100%;
                max-height: 75px;

                min-width: 300px;
                width: 100%;
                max-width: 300px;

                .tile {
                    font-size: 1.32em;
                    margin: 0.2em;
                }


            }

            @media (min-width: 1000px) {

                min-height: 155px;
                height: 100%;
                max-height: 75px;

                min-width: 300px;
                width: 100%;
                max-width: 300px;

                .tile {
                    font-size: 1.32em;
                    margin: 0.2em;
                }


            }


        }
    }

}
/**/

.tab-section {
    display: flex;
    flex-direction: column;
}

.tab-section .container {

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
    }

    @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .destination {
        overflow: scroll;

        @media (max-width: 600px) {
            border-bottom: 0.2em solid rgba(254, 204, 100, 0.33);

            min-height: 100px;
            max-height: 100px;

            .tile {
                text-wrap: nowrap;
                margin: 0.3em;
                font-size: 1.26em;
            }

        }

        @media (min-width: 1000px) {
            min-height: 500px;
            max-height: 500px;
            min-width: 230px;
            max-width: 230px;

            .tile {
                text-wrap: nowrap;
                margin: 0.2em;
                font-size: 1.2em;
            }

        }
    }
}


.tabs {
    list-style: none;
    padding: 0;
    cursor: pointer;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border-radius: 0.5em;

    li {
        display: inline-block;
        height: 40px;
        margin: 0.18em;


        text-decoration: none;
        color: white;
        padding: 0.1em;
        transition: all .3s ease-in-out;
    }

}
.tab.active  {
    color: white;
    background-color: var(--secondary-accent-color);

    &:hover {
       border-bottom: 2px solid var(--secondary-accent-color);

    }
}

/* ============== SECTION SPECIFIC COMPONENT STYLING ============ */

@media (max-width: 600px) {
    display: flex;
    flex-direction: column;

}

@media (min-width: 601px) and (max-width: 999px) {
    display: flex;
}

@media (min-width: 1000px) {

    body {
        display: flex;
    }
}

/**/