* {

    box-sizing: border-box;

    --main-font-family: Zen Kaku Gothic New, sans-serif;
    --jpn-font-size: 18px;

    --tile-font-size-mobile: 0.94em;
    --tile-font-size-desktop: 1.2em;

    --quick-access-font-size: 0.9em;
    --conjugator-result-font-size: 40px;
    --inspector-font-size: 1.5em;
    --reading-font-size: 0.7em;
    --meaning-font-size: 0.95em;


    --light-bg-color: #fffdfb;
    --light-neutral-color: #fffbe6;
    --mid-neutral-color: #f4ae08;
    --primary-color: #fecc64;
    --secondary-color: #b5d8ff;

    --primary-accent-color: #feb164;
    --secondary-accent-color: #84bcff;

}

/* ======================== DRY =============== */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.hide-overflow {
    overflow: hidden;
}

.scroll-overflow {
    overflow: scroll;
}

.border {
    border: 1px solid rgba(156, 156, 156, 0.37);
}

/* ======================== COMPONENTS =============== */

.tile {
    display: inline-block;
    text-align: center;
    border: 0.02em solid rgba(37, 37, 37, 0.2);
    border-radius: 0.3em;
    padding: 0.09em;
    margin: 0.02em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tabs {
    list-style: none;
    padding: 0;
    cursor: pointer;
    flex-wrap: wrap;

    li {
        display: inline-block;
        border: 1px solid darkgray;

        a {
            text-decoration: none;
            color: darkgray;
            padding: 0.1em;
            transition: all .3s ease-in-out;
            border-bottom: 1px solid transparent;
            &:hover {
                color: gray;            }
        }
    }
}
/* ======================== FLEX & LAYOUT =============== */

body {

    background-color: #fffaf3;
    display: flex;
    overflow: clip;
    align-items: center;
    justify-content: center;
    padding: 0.2em;

}

#main-page-wrapper {
    min-height: 100dvh;
    height: 100%;
    width: 600px;
    gap: 0.5em;
    font-family: var(--main-font-family), sans-serif;
    overflow: clip;
    display: none;
}

#time-page-wrapper {
    min-height: 100dvh;
}


@media (max-width: 600px) {
    #conjugator-section {
        flex: 0.1;
        display: flex;
        flex-direction: column;
    }
    #conjugator-tabs {
        flex: 0.1;
    }

    #conjugators-wrapper {
        flex: 1;
    }

    #time-section, #grammar-section {
        width: 100%;
        min-height: 0;
    }

    #time-section {
        display: flex;
        flex: 0.1;
    }


    #time-carousel {
        flex: 0.8;
    }

    #time-menu {
        flex: 0.2;
    }

    #grammar-section {
        flex: 0.4;
    }

    #vocab-section {
        max-height: 600px;
        height: 30%;
        flex: 2;
        min-height: 0;

    }

    #quick-access {
        height: 50px;
    }

    .tile {
        font-size: var(--tile-font-size-mobile);
    }


}

@media (min-width: 601px) {
    /*Desktop layout*/

    #conjugator-section {
        flex: 0.2;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #conjugators-wrapper {
        height: -webkit-fill-available !important;
        flex: 0.3;

    }

    #conjugator-tabs {
        display: none;
    }
    #time-section, #grammar-section {
        width: 100%;
        min-height: 0;
    }

    #time-section {
        display: flex;
        flex: 0.2;
    }
    #grammar-section {
        flex: 0.9;
    }

    #time-carousel {
        display: flex;
        flex: 0.8;
        width: 50%;
        height: 10%;
    }


    #vocab-section {
        margin-top: 0;
        height: 400px;
        flex: 2;
        min-height: 0;

    }

    .tile {
        text-wrap: nowrap !important;
        font-size: var(--tile-font-size-desktop);
        width: max-content;
    }

    /* Time page */

    #time-page-wrapper .content-wrapper {

    }

    #weekDayTimeNouns {


        .tile {
            text-orientation: upright;
            writing-mode: vertical-rl;
        }
    }

}