* {

    box-sizing: border-box;

    --main-font-family: Zen Kaku Gothic New, sans-serif;
    --jpn-font-size: 17px;

    --quick-access-font-size: 0.711em;
    --conjugator-result-font-size: 2.5em;

    --kana-result-font-color: #0002d5;
    --ending-result-font-color: #c60000;
}


.dashed-border {
    border: 1px dashed darkgray;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--main-font-family), sans-serif;
}

.conjugator-container {
    gap: 1rem;

    font-size: 0.7em;

    .conjugator-selectors {
        display: flex;
        flex-direction: row;
        gap: 1.2em;
        font-size: 0.4em;
    }

    .stack {
        display: flex;
        flex-direction: column;
    }

    .kana-selectors {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

#conjugator-result {
    font-size: var(--conjugator-result-font-size);

    #kana-result {
        color: var(--kana-result-font-color);
    }
    #ending-result {
        color: var(--ending-result-font-color);
    }
}
.accordion__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    gap: 3em;
    margin: 0.2em 0.3em;
    padding: 0.2em;
    font-size: 0.7em;
    max-height: max-content;
   /* border: 1px solid hotpink; */
}



.accordion__content {
    background-color: rgba(169, 169, 169, 0.11);
}

ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
    display: inline-grid;

    li {
        display: inline-block;
        border: 1px solid darkgray;



        a {
            text-decoration: none;
            color: darkgray;
            padding: 0.2em;
            transition: all .3s ease-in-out;
            border-bottom: 1px solid transparent;
            &:hover {
                color: gray;            }
        }
    }
}

.verbs:hover {
    background-color: blue;
}


.word-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;

    .word-list__panes {
        border: 1px solid darkgray;
    }
}

.accordion-tabs__lists {

        visibility: hidden;
}

.quick-access {
    font-size: var(--quick-access-font-size);
}
