* {
    --tile-color: orange;
    --title-color: deepskyblue;
}

body {
    font-family: Kimi Maru, sans-serif;
    font-size: 17px;
    color: #444;
}


.notes .tab-pane {
    height: max-content;
    padding: 0;

}

.notes .tabs {
    height: fit-content;
}

.tabs {
    height: 150px;
    overflow-y: scroll;
    font-size: 10px;
}


.hover-details {
    display: flex;
    border: 2px solid black;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;

    li {
        display: inline-flex;

        a {
            text-decoration: none;
            color: darkgray;
            padding: 10px;
            transition: all .3s ease-in-out;
            border-bottom: 1px solid transparent;
            &:hover {
                color: gray;            }
        }
    }
}

.tab.active a {
    color: slateblue;
    border-bottom: 1px solid slateblue;
    &:hover {
        border-color: transparent;
        background: slateblue;
        color: white;
    }
}

.tab-pane {
    display: none;
    animation: fadeEffect 1s;
}

.tab-pane.active {
    display: block;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hover {
    padding: 0.2em;
    margin: 0.2em;
}

.hover-active {
    background-color: rgba(72, 61, 139, 0.36);
}


.tile {
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: max-content;
    padding: 0.6em;
    margin: 0.2em;

    background-color: darkorange;
    color: #fff8f3;
    font-weight: bold;
    font-size: 14px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

dialog {
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    width: 100%;

    font-family: Noto Sans JP, sans-serif;

    text-align: center;
}

#modal-front {
    font-size: 30px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}